{% extends './main.html' %}
{% load static %}

    {% block page_content %}

        <section id="page-contents">
            <header class="content-top">
                <p>Detalhes do Desaparecido</p>
                <a href="{% url 'editarDesaparecido' pk=pessoa.pk %}" class="option-button link-button grey-on-hover">
                    <span>Editar</span><img src="{% static 'images/pencil-icon.png' %}">
                </a>
                <a href="{% url 'removerDesaparecido' pk=pessoa.pk %}" class="option-button link-button grey-on-hover">
                    <span>Excluir</span><img src="{% static 'images/black-x-icon.png' %}">
                </a>
                <img src="{% static 'images/back-button.png' %}" onclick="history.back()">
            </header>
            <section class="person_data_container">
                <div class="fields_container">

                    <div class="fields_left_column">
                        <p>Dados Pessoais</p>
                        <div class="data_field"><span class="space-to-the-right">Nome:</span><span class="grey-text">{{ pessoa.nome|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Sexo:</span><span class="grey-text">{{ pessoa.sexo|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Data de nascimento:</span><span class="grey-text">{{ pessoa.data_nascimento|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Idade aparente:</span><span class="grey-text">{{ pessoa.get_idade_aparente_display|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Nome do pai:</span><span class="grey-text">{{ pessoa.nome_pai|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Nome da mãe:</span><span class="grey-text">{{ pessoa.nome_mae|default_if_none:"" }}</span></div>

                        <br>
                        <p>Aparência e Características</p>
                        <div class="data_field"><span class="space-to-the-right">Tipo físico:</span><span class="grey-text">{{ pessoa.tipo_fisico }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Faixa de altura:</span><span class="grey-text">{{ pessoa.get_faixa_altura_display|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Cor da pele:</span><span class="grey-text">{{ pessoa.cor_pele|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Cor dos olhos:</span><span class="grey-text">{{ pessoa.cor_olhos|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Cor do cabelo:</span><span class="grey-text">{{ pessoa.cor_cabelos|default_if_none:"" }}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Possui tatuagem?</span><span class="grey-text">{% if pessoa.possui_tatuagem %}Sim{% else %}Nao{% endif %}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Possui cicatriz?</span><span class="grey-text">{% if pessoa.possui_cicatriz %}Sim{% else %}Nao{% endif %}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Possui deficiência?</span><span class="grey-text">{% if pessoa.possui_deficiencia %}Sim{% else %}Nao{% endif %}</span></div>
                        <div class="data_field"><span class="space-to-the-right">Sofreu amputação?</span><span class="grey-text">{% if pessoa.sofreu_amputacao %}Sim{% else %}Nao{% endif %}</span></div>
                    </div>
                    <div class="fields_right_column">
                        <div class="foto_fields_container">
                            <div class="data_field">
                                <p class="label-paragraph">Foto:</p>
                                {% if pessoa.foto.name %}
                                <img src="{{ pessoa.foto.url }}" width="300" height="300" />
                                {% else %}
                                <img src="{% static 'images/no-photo-image.png' %}" width="200" height="200" />
                                {% endif %}
                                <br>

                                <p><!-- Gambiarra --></p>
                                <br>
                                {% if pessoa.foto.name %}
                                <p class="label-paragraph">Cartazete:</p>
                               <div class="container" id = "container" >
                                  <img src="{% static 'images/cartazpreto.jpg' %}" style="max-height: 400px;max-width:300px;" id="cartazete" />
                                  <div class="info" id="info" >
                                    <div class="idade" id="idade"><p class="infodes" style="font-size: 11px" >Idade: {{ pessoa.idade_aparente }}</p></div>
                                    <div class="quando" id="quando"><p class="infodes" style="font-size: 11px">Desaparecimento: {{ pessoa.data_desaparecimento }}</p></div>
                                    <div class="local" id="local"><p class="infodes" style="font-size: 11px">Local: {{ pessoa.local_desaparecimento }}</p></div>
                                </div>
                                <div class="nome" id="nome"><p style="font-size:15px">{{ pessoa.nome }}</p></div>
                                <div class="foto" id="foto"><img src = "{{ pessoa.foto.url }}" style="max-height: 120px;max-width:120px;"></div>
                               </div>

                               <div class="button-div" onclick="capturar()"><button type="submit">Baixar cartaz</button>

                               </div><br>
                               <p>Guardar cartaz:</p>
                                <input type="file" id="input_img" onchange="fileChange()" accept="image/*"><br>
                                <script src="https://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript" ></script>
                                 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
                                 <script type="text/javascript">
                                   function capturar(){
                                        var divImagem = document.getElementById("container");
                                        html2canvas(divImagem).then(function(canvas) {
                                        var imagem = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                                        var a = document.createElement('a');
                                        a.href = imagem;
                                        a.download = '{{ pessoa.nome }}.png';
                                        //a.src = 'data:image/png;base64,' + imagem;
                                        a.click();
                                        //fileChange(a);
                                  });
                                }
                                function fileChange(){
                                  var file = document.getElementById('input_img');
                                  var form = new FormData();
                                  form.append("image", file.files[0])

                                  var settings = {
                                    "url": "https://api.imgbb.com/1/upload?key=8765818615b1a206c788c8a3d26f52e0",
                                    "method": "POST",
                                    "timeout": 0,
                                    "processData": false,
                                    "mimeType": "multipart/form-data",
                                    "contentType": false,
                                    "data": form
                                  };


                                  $.ajax(settings).done(function (response) {
                                    console.log(response);
                                    var jx = JSON.parse(response);
                                    console.log(jx.data.url);
                                    let array = jx.data.image.url.split("/");
                                    let code = array[3];
                                    let nome = array[4].split(".");
                                    let nomecartaz = code+"/"+nome[0];
                                    console.log(nomecartaz);
                                    let url = "{% url 'editarNomeCartazete' pk=pessoa.pk %}"+"?nomecartazete="+nomecartaz;
                                    window.location.href = url;

                                  });

                                  /*

                                  console.log(url);
                                  var request = {
                                    "url": url,
                                    "method": "GET",
                                    "nomecartazete": nomecartaz
                                  };
                                  $.ajax(request).done(function (response) {
                                    console.log(response);
                                  });
                                  */
                                }
                                 </script>
                                 {% else %}
                                 <img src="{% static 'images/no-cartazete.png' %}" style="max-height: 500px;max-width:200px;" id="cartazete" />
                                 {% endif %}

                                <p><!-- Gambiarra --></p>
                                <br>
                                <p class="label-paragraph">Nome no cartazete:</p>
                                {% if pessoa.nome_no_cartazete %}
                                <span class="grey-text">{{ pessoa.nome_no_cartazete }}</span>
                                {% else %}
                                <span class="grey-text">Sem nome no cartazete</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <p><!-- Gambiarra --></p>
                    <br>
                    <p>Sobre o Desaparecimento</p>
                    <div class="data_field larger_form_field"><span class="space-to-the-right">Data do desaparecimento:</span><span class="grey-text">{{ pessoa.data_desaparecimento|default_if_none:"" }}</span></div>
                    <div class="data_field larger_form_field"><span class="space-to-the-right">Local do desaparecimento:</span><span class="grey-text">{{ pessoa.local_desaparecimento|default_if_none:"" }}</span></div>
                    <div class="data_field full_width_form_field">
                        Comentário sobre o desaparecimento:
                        <br>
                        <span class="grey-text">{{ pessoa.comentario_desaparecimento|default_if_none:"" }}</span>
                    </div>
                </div>




            </section>
        </section>

    {% endblock %}
